* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  display: flex;
  flex-direction: column;
  gap: 1ch;

  padding: 1rem;
  height: 100vh;
  background-color: #F5F5F5;
  font-size: 2rem;
}

button {
  min-width: 4rem;
  background-color: #eda045;
  border-radius: 1rem;
  padding: 5px;

}
button:hover {
      min-width: 4rem;
  background-color: #cc376d;
  border-radius: 1rem;
}

main {
  background: #df654a;
  border-radius: 1rem;
  padding: 1rem;

  display: grid;
  grid-template-columns: repeat(3,minmax(0, 1fr));
  gap: 1rem;
  height: 100vh;
  font-size: 3rem;
}

.bank {
display: flex;
flex-direction: column;
align-items: center;
gap: 1em;
padding: 1rem;
border-radius: 0.5rem;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

