* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  display: flex;
  flex-direction: column;
  gap: 1ch;

  padding: 1rem;
  height: 100vh;
}

button {
  min-width: 4rem;
  background-color: #eda045;
  border-radius: 1rem;
  padding: 5px;

}
button:hover {
      min-width: 4rem;
  background-color: #cc376d;
  border-radius: 1rem;
}

main {
  background: #df654a;
  border-radius: 1rem;
  padding: 1rem;

  flex: 1;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.bank {
  font-size: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, 4rem);
  grid-auto-rows: 4rem;
  background-color: white;
}